
:root {
  --dark-green: rgb(17, 43, 28);
  --light-green: rgb(33, 212, 33);
  --light-color: aliceblue;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: auto;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: var(--dark-green);
  color: aliceblue;
  margin: 0px;
  top: 0px;
  border-bottom: 5px solid var(--light-green);
  height: 55px;
  align-items: center;
}

.name {
  margin-right: auto;
  font-size: 24px;
  padding: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 4px;
  font-size: 22px;
}

header li {
  display: inline-block;
  padding: 0px 30px;
  color: aliceblue;
}

/* Code taken from Stack Overflow https://stackoverflow.com/questions/2204634/how-to-disable-automatic-links-coloring-without-selecting-a-color */
a, a:hover, a:visited, a:active {
  color: inherit;
}

main {
  margin-top: 60px;
}

img {
  width: 200px;
  height: 100px;
}

.portfolio {
  font-size: 22px;
  padding: 20px;
  text-align: center;
  color: rgb(35, 93, 60);
}

h3 {
  font-size: 18px;
  padding: 20px;
  text-align: center;
  color: rgb(35, 93, 60);
  
}

.header .name:hover {
  color: var(--light-green);
}

.header .nav-links li:hover {
  transform: scale(1.1);
  color: floralwhite;
}

.projects {
  display: flex;
  justify-content: space-around;
}

.project-image {
  flex-wrap: wrap;

}

.project-image:hover {
  transform: scale(1.2,1.2);
}

